<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link rel="icon" href="/img/kaiadmin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-RXf+QSDCUQs6Y6lfN8Eghs1n6U4P1GdJW1P8N9AgZsMa2VNBOJsh75eD9n67ON0Gp1DfDztVbLOOrJ6C7+MT0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />

    <!-- Fonts and icons -->
    <script src="/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/plugins.min.css" />
    <link rel="stylesheet" href="/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="/css/demo.css" />
</head>

<body style="background-color: rgb(197, 197, 197);">
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <div class="logo-header" data-background-color="dark">
                    <h4 style="color: white; padding-left: 10px;">SMS</h4>
                    <!-- <a href="index.html" class="logo">
                        <img src="#" alt="navbar brand" class="navbar-brand" height="20" />
                    </a> -->
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-item">
                            <a href="/index" class="nav-link">
                                <i class="fas fa-home"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">Components</h4>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#master">
                                <i class="fas fa-users"></i>
                                <p>Master</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="master">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a href="/userroleslist">
                                            <span class="sub-item">User roles</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users">
                                            <span class="sub-item">Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- Shifts -->
                        <li class="nav-item">
                            <a href="/shifts">
                <i class="fa-solid fa-clock"></i>
                                <p>Shifts</p>
                            </a>
                        </li>

                        <!-- Shift Logs -->
                        <li class="nav-item">
                            <a href="/shiftLogs">
                                <i class="fas fa-industry"></i>
                                <p>Shift Logs</p>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand"
                                height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                </div>
                <!-- Navbar -->
                        <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
  <div class="container-fluid justify-content-end">
    <a class="btn btn-danger" href="/login">Logout</a>
  </div>
</nav>
            </div>

            <!-- User Datatable -->
            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <h3 class="fw-bold mb-3">Users List</h3>
                        <ul class="breadcrumbs mb-3">
                            <li class="nav-home">
                                <a href="/index"><i class="icon-home"></i></a>
                            </li>
                            <li class="separator"><i class="icon-arrow-right"></i></li>
                            <li class="nav-item"><a href="/users">Master</a></li>
                            <li class="separator"><i class="icon-arrow-right"></i></li>
                            <li class="nav-item"><a href="/users">Users</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <div class="card" style="background-color: rgb(221, 212, 212);">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Users</h4>
                                    <div class="ms-auto">
                                        <button type="button" class="btn btn-primary btn-round " id="downloadCsv"
                                            aria-expanded="false">
                                            <i class="fa fa-download"></i> Download Excel
                                        </button>
                                        <button type="button" class="btn btn-primary btn-round " id="downloadPdf"
                                            aria-expanded="false">
                                            <i class="fa fa-download"></i> Download Pdf
                                        </button>
                                        <button class="btn btn-primary btn-round" data-bs-toggle="modal"
                                            data-bs-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            New User
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- Add User Modal -->
                                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true"
                                    data-bs-backdrop="static" data-bs-keyboard="false">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">New</span>
                                                    <span class="fw-light">User</span>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="addUserForm">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group ">
                                                                <label>Role</label>
                                                                <select id="addRole" class="form-control" required
                                                                    style="border: 1px solid black; padding: 10px;">
                                                                    <option value="">Select Role</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>First Name<span style="color: red;">*</span></label>
                                                                <input id="addFirstName" type="text" pattern="[A-Za-z]+"
                                                                    class="form-control" placeholder="Enter first name"
                                                                    required style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Last Name<span style="color: red;">*</span></label>
                                                                <input id="addLastName" type="text" class="form-control"
                                                                    placeholder="Enter last name" required
                                                                    pattern="[A-Za-z]+"
                                                                   style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>User Name<span style="color: red;">*</span></label>
                                                                <input id="addUserName" type="text" class="form-control"
                                                                    placeholder="Enter user name" required
                                                                   style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Password<span style="color: red;">*</span></label>
                                                                <input id="addPassword" type="password"
                                                                    class="form-control" placeholder="Enter password"
                                                                    minlength="6" maxlength="10" required
                                                                    style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Email Id<span style="color: red;">*</span></label>
                                                                <input id="addEmail" type="email" class="form-control"
                                                                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com$"
                                                                    placeholder="Enter email" required
                                                                    style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Phone Number<span style="color: red;">*</span></label>
                                                                <input id="addPhone" type="tel" class="form-control"
                                                                    placeholder="Enter phone number"
                                                                    pattern="[6-9][0-9]{9}" required
                                                                    style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" id="addRowButton"
                                                    class="btn btn-primary">Add</button>
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Edit User Modal -->
                                <div class="modal fade" id="editRowModal" tabindex="-1" role="dialog" aria-hidden="true"
                                    data-bs-backdrop="static" data-bs-keyboard="false">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">Edit</span>
                                                    <span class="fw-light">User</span>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form id="editUserForm">
                                                    <input type="hidden" id="editUserId">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>First Name</label>
                                                                <input id="editFirstName" type="text"
                                                                    pattern="[A-Za-z]+" class="form-control"
                                                                    placeholder="Enter first name" required style="border: 1px solid black; padding: 10px;"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Last Name</label>
                                                                <input id="editLastName" type="text" pattern="[A-Za-z]+"
                                                                    class="form-control" placeholder="Enter last name"
                                                                    required style="border: 1px solid black; padding: 10px;"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>User Name</label>
                                                                <input id="editUserName" type="text"
                                                                    class="form-control" placeholder="Enter user name"
                                                                    required style="border: 1px solid black; padding: 10px;" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Password</label>
                                                                <input id="editPassword" type="password"
                                                                    class="form-control" minlength="6" maxlength="10"
                                                                    placeholder="Enter new password (optional)" style="border: 1px solid black; padding: 10px;"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Email Id</label>
                                                                <input id="editEmail" type="email" class="form-control"
                                                                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.com$"
                                                                    placeholder="Enter email" required style="border: 1px solid black; padding: 10px;"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group ">
                                                                <label>Phone Number</label>
                                                                <input id="editPhone" type="tel" class="form-control"
                                                                    pattern="[6-9][0-9]{9}"
                                                                    placeholder="Enter phone number" required style="border: 1px solid black; padding: 10px;"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group ">
                                                                <label>Role</label>
                                                                <select id="editRole" class="form-control" required style="border: 1px solid black; padding: 10px;">
                                                                    <option value="">Select Role</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="form-group ">
                                                                <label>Status</label>
                                                                <select id="editStatus" class="form-control" required style="border: 1px solid black; padding: 10px;">
                                                                    <option value="Active">Active</option>
                                                                    <option value="Inactive">Inactive</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" id="editRowButton"
                                                    class="btn btn-primary">Save</button>
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>First Name</th>
                                                <th>Last Name</th>
                                                <th>User Name</th>
                                                <th>Email Id</th>
                                                <th>Phone Number</th>
                                                <th>Role</th>
                                                <th>Status</th>
                                                <th style="width: 10%">Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS Files -->
    <!-- <script src="/js/core/jquery-3.7.1.min.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/js/core/bootstrap.min.js"></script>
    <script src="/js/plugin/datatables/datatables.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
$(document).ready(function () {
    // Initialize DataTable
    const table = $('#add-row').DataTable({
        ajax: {
            url: '/api/user',
            dataSrc: 'data',
            error: function (xhr, error, thrown) {
                console.error('DataTables AJAX error:', {
                    status: xhr.status,
                    statusText: xhr.statusText,
                    responseText: xhr.responseText,
                    error,
                    thrown
                });
                alert('Failed to load users. Please check the server or network connection.');
            }
        },
        columns: [
            { data: 'id' },
            { data: 'firstName' },
            { data: 'lastName' },
            { data: 'username' },
            { data: 'email' },
            { data: 'phone' },
            { data: 'role' },
            { data: 'status' },
            {
                data: null,
                render: function (data, type, row) {
                    return `
                      <div class="form-button-action">
                        <button type="button" class="btn btn-link btn-primary edit-user" data-id="${row.id}">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-link btn-danger delete-user" data-id="${row.id}">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    `;
                },
            },
        ],
    });

    // Download CSV
    $('#downloadCsv').on('click', function (e) {
        e.preventDefault();
        const data = table.data().toArray();
        const csvRows = [
            ['ID', 'First Name', 'Last Name', 'User Name', 'Email', 'Phone No', 'Role', 'Status'].join(','),
            ...data.map(row => [
                row.id,
                `"${row.firstName.replace(/"/g, '""')}"`,
                `"${row.lastName.replace(/"/g, '""')}"`,
                `"${row.username.replace(/"/g, '""')}"`,
                `"${row.email.replace(/"/g, '""')}"`,
                `"${row.phone.replace(/"/g, '""')}"`,
                `"${row.role.replace(/"/g, '""')}"`,
                row.status
            ].join(','))
        ];
        const csvString = csvRows.join('\n');
        const blob = new Blob([csvString], { type: 'text/csv' });
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.setAttribute('href', url);
        a.setAttribute('download', 'Users_list.csv');
        a.click();
        window.URL.revokeObjectURL(url);
    });

    // Download PDF (basic, can be enhanced)
    $('#downloadPdf').on('click', function (e) {
        e.preventDefault();
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();
        doc.setFontSize(16);
        doc.text('Users List', 10, 10);
        doc.setFontSize(12);
        const data = table.data().toArray();
        let y = 20;
        doc.text(['ID', 'First Name', 'Last Name', 'User Name', 'Email', 'Phone No', 'Role', 'Status'].join('  |  '), 10, y);
        y += 10;
        doc.line(10, y - 5, 200, y - 5);
        data.forEach(row => {
            const line = [row.id, row.firstName, row.lastName, row.username, row.email, row.phone, row.role, row.status].join('  |  ');
            doc.text(line, 10, y);
            y += 10;
            // Add page break if near bottom (optional)
            if (y > 280) {
                doc.addPage();
                y = 20;
            }
        });
        doc.save('Users_list.pdf');
    });

    // Fetch roles for add/edit modals, optionally select a roleId after loading
    function loadRoles(selectElement, selectedRoleId = null) {
        return $.ajax({
            url: '/api/user/roles',
            method: 'GET',
            success: function (roles) {
                selectElement.empty().append('<option value="">Select Role</option>');
                roles.forEach(role => {
                    const selected = role.id === selectedRoleId ? 'selected' : '';
                    selectElement.append(`<option value="${role.id}" ${selected}>${role.roleName}</option>`);
                });
            },
            error: function () {
                alert('Error loading roles');
            },
        });
    }

    // Load roles for add modal
    $('#addRowModal').on('show.bs.modal', function () {
        loadRoles($('#addRole'));
    });

    // Load roles for edit modal
    $('#editRowModal').on('show.bs.modal', function () {
        // You can also clear/editRole here if needed
    });

    // Add user
    $('#addRowButton').click(function () {
        const form = $('#addUserForm');
        if (form[0].checkValidity()) {
            $.ajax({
                url: '/api/user',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    roleId: $('#addRole').val(),
                    firstName: $('#addFirstName').val().trim(),
                    lastName: $('#addLastName').val().trim(),
                    username: $('#addUserName').val().trim(),
                    password: $('#addPassword').val(),
                    email: $('#addEmail').val().trim(),
                    phone: $('#addPhone').val().trim(),
                }),
                success: function () {
                    $('#addRowModal').modal('hide');
                    form[0].reset();
                    table.ajax.reload();
                    alert('User added successfully');
                },
                error: function (xhr) {
                    console.error('Add user error:', xhr);
                    alert('Error adding user: ' + (xhr.responseJSON?.error || 'Unknown error'));
                },
            });
        } else {
            form[0].reportValidity();
        }
    });

    // Edit user button click
    $('#add-row').on('click', '.edit-user', function () {
        const userId = $(this).data('id');
        $.ajax({
            url: `/api/user`,
            method: 'GET',
            success: function (response) {
                const user = response.data.find(u => u.id === userId);
                if (user) {
                    $('#editUserId').val(user.id);
                    $('#editFirstName').val(user.firstName);
                    $('#editLastName').val(user.lastName);
                    $('#editUserName').val(user.username);
                    $('#editEmail').val(user.email);
                    $('#editPhone').val(user.phone);
                    $('#editStatus').val(user.status);
                    loadRoles($('#editRole'), user.roleId);
                    $('#editPassword').val(''); // clear password field on edit
                    $('#editRowModal').modal('show');
                }
            },
            error: function () {
                alert('Error fetching user data');
            },
        });
    });

    // Edit user save
    $('#editRowButton').click(function () {
        const form = $('#editUserForm');
        if (form[0].checkValidity()) {
            const password = $('#editPassword').val();
            const data = {
                roleId: $('#editRole').val(),
                firstName: $('#editFirstName').val().trim(),
                lastName: $('#editLastName').val().trim(),
                username: $('#editUserName').val().trim(),
                email: $('#editEmail').val().trim(),
                phone: $('#editPhone').val().trim(),
                status: $('#editStatus').val(),
            };
            if (password) {
                data.password = password;
            }
            $.ajax({
                url: `/api/user/${$('#editUserId').val()}`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                    $('#editRowModal').modal('hide');
                    form[0].reset();
                    table.ajax.reload();
                    alert('User updated successfully');
                },
                error: function (xhr) {
                    console.error('Edit user error:', xhr);
                    alert('Error updating user: ' + (xhr.responseJSON?.error || 'Unknown error'));
                },
            });
        } else {
            form[0].reportValidity();
        }
    });

    // Delete user
    $('#add-row').on('click', '.delete-user', function () {
        const userId = $(this).data('id');
        if (confirm('Are you sure you want to delete this user?')) {
            $.ajax({
                url: `/api/user/${userId}`,
                method: 'DELETE',
                success: function () {
                    table.ajax.reload();
                    alert('User deleted successfully');
                },
                error: function (xhr) {
                    console.error('Delete user error:', xhr);
                    alert('Error deleting user: ' + (xhr.responseJSON?.error || 'Unknown error'));
                },
            });
        }
    });
});
</script>

</body>

</html>